<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="container-fluid" ng-app="sortApp">
    <div class="form-group mb-2 form-inline">
      <button (click)="sort_asc()" id="sort_asc" class="btn btn-primary">Ascending    </button>
      &nbsp;&nbsp;
      <button (click)="sort_des()" id="sort_des" class="btn btn-primary">Descending</button>
    </div>
  

  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Presidents Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of persons">
            <td>{{res}}</td>
        </tr>
      </tbody>
    </table>
</div>

